section {
    margin: auto;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 320px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 50px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
}

.carousel > img {
    width: 400px;
    height: 400px;
}

.saved > img {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.info {
    text-align: center;
}