* {
    margin: 0px;
    padding: 0px;
}

a {
    margin: 30px;
    font-size: 18px;
    color: gray;
    text-decoration: none;
}
a:visited {
    margin: 30px;
    font-size: 18px;
    color: gray;
    text-decoration: none;
}

#buttonBox{
    display: flex;
}
#myButton {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#uploadButton {
    width: 150px;
    height: 40px;
    margin: 10px 20px 0px auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(130, 200, 130);
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 340px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 60px;
}
#siteInfo {
    text-align: center;
    color: rgb(80, 190, 130);
    font-size: 20px;
}

.search {
    padding: 50px;
}
.inputBox {
    width: 180px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
}
.radio {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
form > button {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.contents{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}
.content{
    width: 250px;
    height: 250px;
    margin: 30px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
}
.content > img {
    width: 100%;
    height: 100%;
}
