* {
    margin: 0px;
    padding: 0px;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 320px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 50px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
}

.section {
    text-align: center;
    margin: 10px;
}
.boundary {
    width: 300px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

.inputBox {
    width: 200px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inputButton {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.alertMessage {
    color: #fa6060;
    font-size: 14px;
}

a {
    color: #4b70fd;
    /* color: rgb(250, 250, 250); */
    text-decoration: none;
}
a:visited {
    color: #4b70fd;
    /* color: rgb(200, 200, 200); */
    text-decoration: none;
}