* {
    margin: 0px;
    padding: 0px;
}

.menu {
    list-style-type: none;
    float: right;
}
.menu > li {
    width: 180px;
    height: 30px;
    padding: 15px;
    padding-top: 20px;
    border: 1px solid white;
    border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
    background-color: rgb(150, 225, 145);
    font-size: 20px;
    text-align: right;
    color: white;
    cursor: pointer;
}
.menu li.current {
    background-color: rgb(80, 190, 130);
}
.tabContent{
    display: none;
    padding-top: 20px;
    padding-left: 20px;
}
.tabContent.current{
    display: inherit;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 320px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 50px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
}

.infoBox{
    margin-top: 5px;
}
.imageBox{
    display: inline-block;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
}
.imageBox > img {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(190, 190, 190);
}
.deleteBtn {
    width: 100px;
    height: 30px;
    margin: 5px 0px 10px 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(150, 225, 145);
}
.cancelBtn {
    width: 100px;
    height: 30px;
    margin: 5px 0px 10px 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(150, 225, 145);
}