* {
    margin: 0px;
    padding: 0px;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 340px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 60px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
    font-size: 20px;
}

.box {
    text-align: center;
    margin: 10px;
}

button {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}