* {
    margin: 0px;
    padding: 0px;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 340px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 60px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
    font-size: 20px;
}

.box {
    width: 450px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
}
.boundary {
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

fieldset {
    margin-top: 20px;
    padding-left: 10px;
    text-align: left;
    border: none;
}
.inputBox {
    width: 180px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
}
.inputBox2 {
    width: 130px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
}
.alertMessage {
    color: #fa6060;
    font-size: 14px;
}
button {
    width: 150px;
    height: 40px;
    margin: 30px 0px 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}