* {
    margin: 0px;
    padding: 0px;
}

.siteNameBox {
    margin: auto;
    margin-top: 30px;
    width: 340px;
    cursor: pointer;
}
#logo {
    display: inline-block;
    vertical-align: middle;
}
#logo > img {
    width: 70px;
}
#siteName {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgb(80, 190, 130);
    font-size: 60px;
}
#siteInfo{
    text-align: center;
    color: rgb(80, 190, 130);
    font-size: 20px;
}

.box {
    width: 450px;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid gray; */
    box-sizing: border-box;
}
.boundary {
    width: 450px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}
.imageBox {
    width: 450px;
    padding: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 3px;
}

.inputBox {
    width: 180px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
.radio {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#images {
    margin-top: 10px;
}
.alertMessage {
    color: #fa6060;
    font-size: 14px;
}
button {
    width: 150px;
    height: 40px;
    margin: 25px 0px 10px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

